@model X.PagedList.IPagedList<Htime.Models.Product>
@using X.PagedList.Mvc.Core


@{
    ViewData["Title"] = "Index";
}
<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <!-- Start Brands -->
        <div class="col-lg-3">
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h2 text-decoration-none" href="#">
                        Brands
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                       
                        @foreach (var brand in ViewBag.BrandCounts)
                        {
                            <li class="text-decoration-none">
                                <a asp-action="Index" asp-controller="Shop" asp-route-brand="@brand.Brand" class="text-decoration-none">
                                    @brand.Brand
                                </a>
                                <span class="badge bg-primary rounded-pill">@brand.Count</span>
                            </li>
                        }
                        <li class="text-decoration-none">
                            <a asp-action="Index" asp-controller="Shop" class="text-decoration-none">
                                 All
                            </a>    
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- End Brands -->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <a class="h2 text-dark text-decoration-none mr-3" asp-action="index" asp-controller="shop">Products</a>
                    </ul>
                </div>    
            </div>
            <!-- Item -->
            
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <a asp-action="detail" asp-controller="Shop" asp-route-id="@item.Id"><img class="card-img rounded-0 img-fluid"src="~/img/@item.ImageUrl" alt="@item.Name" style="width: 500px; height: 500px; object-fit: cover;" /></a>

                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" asp-action="detail" asp-controller="Shop" asp-route-id="@item.Id"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" asp-action="Addtocart" asp-controller="Cart"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body" style="height: 100px; overflow: hidden;">
                                <a asp-action="detail" asp-controller="Shop" asp-route-id="@item.Id"  class="h3 border-0 text-decoration-none">@item.Name</a>
                                <p class="mb-0" style="color: red; text-align: left;">$@item.Price</p>                            </div>
                        </div>
                    </div>
                }
            </div>

            
            </div>
            
            <!-- End Item -->
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, brand = ViewBag.SelectedBrand }),
                         new PagedListRenderOptions
                {
                    LiElementClasses = new[] { "page-item" },
                    PageClasses = new[] { "page-link" },
                    UlElementClasses = new[] { "pagination", "pagination-lg", "justify-content-end" },
                    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                    DisplayLinkToLastPage = PagedListDisplayMode.Always,
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                    DisplayLinkToNextPage = PagedListDisplayMode.Always,
                    DisplayLinkToIndividualPages = true
                })
            </div>
        </div>

        </div>

    </div>
</div>
<!-- End Content -->
<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Brands</h1>
                
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">
                    <!--Carousel Wrapper-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <!--Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox"> 
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/img/logoap.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/img/logoomega.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/img/logopatek.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="~/img/Logorolex.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                               
                            </div>
                            <!--End Slides-->
                        </div>
                    </div>
                    <!--End Carousel Wrapper-->
                   
                </div>
            </div>
        </div>
    </div>

</section>

<script>

</script>

<!--End Brands-->
